:root {
  --hue-1: 257;
  --hue-2: 47;
  --bg-color: hsl(var(--hue-1), 100%, 97%);
  --main-color-1: hsl(var(--hue-1), 100%, 60%);
  --main-color-dark-1: hsl(var(--hue-1), 69%, 50%);
  --main-color-2: hsl(var(--hue-2), 100%, 61%);
  --main-color-dark-2: hsl(var(--hue-2), 82%, 55%);
  --bg-color-1: hsl(var(--hue-1), 100%, 97%);
  --bg-color-2: #fff;
  --bg-color-3: hsl(var(--hue-1), 100%, 98%);
  --bg-color-transparent: rgba(255, 255, 255, 0.6);
  --heading-color: hsl(var(--hue-1), 61%, 24%);
  --texr-color: hsl(var(--hue-1), 22%, 53%);
  --section-padding: 7rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  position: relative;
  width: 100%;
  max-width: 90rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: 0.3s;
}

header.scrolled {
  background-color: var(--bg-color-transparent);
  box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
}

nav.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

header .logo {
  height: 120px;
  line-height: 120px;
}

header.scrolled .logo {
  height: 80px;
  line-height: 80px;
}

.sub-hedding {
  color: var(--heading-color);
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 0.5px;
  border-left: 3px solid var(--main-color-2);
  padding: 0.13rem 0.75rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.heading {
  color: var(--heading-color);
  font-size: 3rem;
  font-family: "Abril Fatface", cursive;
  font-weight: 400;
  line-height: 1.3;
}

.text {
  color: var(--texr-color);
  font-size: 0.9rem;
  margin: 2rem 0;
  line-height: 2.3;
}

.section {
  position: relative;
  padding: var(--section-padding) 0;
}

.logo {
  margin-right: 36.5rem;
  height: 120px;
  line-height: 120px;
  font-family: "Abril Fatface", cursive;
  font-size: 1.5rem;
  letter-spacing: 1px;
  transition: 0.3s;
  font-weight: bold;
  transform: translateX(157px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.links {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.links ul {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-link {
  position: relative;
  display: inline-block;
  margin: 0 1rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.5px;
  color: var(--texr-color);
  font-weight: 500;
  opacity: 0.9;
  transition: 0.3s;
  font-size: 18px;
  font-weight: bold;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 10px;
  border-radius: 5px;
  background-color: var(--main-color-1);
  bottom: 0;
  left: -5px;
  z-index: -1;
  opacity: 0;
  transition: 0.3s;
}

.nav-link:hover {
  color: var(--heading-color);
}

.nav-link:hover::after {
  width: 100%;
  opacity: 0.2;
}

.showcase-area {
	margin-top: 10%;
    padding-bottom: 2%;
    width: 100%;
    overflow: hidden;
	position: relative;
}

.showcase-area .container {
	display: grid;
	justify-content: center;
	align-items: center;
	text-align: center;
}